 <ion-view  view-title="DASHBOARD - PRODUÇÃO" align-title="left">
 	<ion-content class="home has-header" >
		<ion-list>
			<div class="card card-home-red">
				<div class="item item-text-wrap item-text-wrap-indice">
					<div class="row row-home-header">
  						<div class="col col-home-header">
							<h2 class="card-home-title-red">Bolsa grande com tecido de peixes</h2>
						</div>
					</div>
					<div class="row">
  						<div class="col">Dona Rosinha da Silva</div>
						<div class="col text-right"><strong> 20/11/2015</strong></div>
					</div>
				</div>
			</div>
		
			<div class="card card-home-yellow">
				<div class="item item-text-wrap item-text-wrap-indice">
					<div class="row row-home-header">
  						<div class="col col-home-header">
							<h2 class="card-home-title-yellow">Porta livro</h2>
						</div>
					</div>
					<div class="row">
  						<div class="col">Mariana Da Silva Santos</div>
						<div class="col text-right"><strong> 04/12/2015</strong></div>
					</div>
					
				</div>
			</div>
			<div class="card card-home-green">
				<div class="item item-text-wrap item-text-wrap-indice">
					<div class="row row-home-header">
  						<div class="col col-home-header">
							<h2 class="card-home-title-green">Passadeira para Lavandeiria</h2>
						</div>
					</div>
					<div class="row">
  						<div class="col">Joselina Cristovaldis da Silva</div>
						<div class="col text-right"><strong> 17/12/2015</strong></div>
					</div>
				</div>
			</div>
		</ion-list>

		<!-- <div class="card card-home-pink" ng-hide="showIndexes">
			<div class="item item-text-wrap">
				<div class="row row-home-header">
					<div class="col col-home-header">
						Índices Indisponíveis no momento
					</div>
				</div>
			</div>
		</div> -->
	</ion-content>


</ion-view>
 