 <ion-view  view-title="DASHBOARD - PRODUÇÃO" align-title="left">
 	<ion-content class="home has-header" >
		<ion-list>
			<div class="card card-home-red">
				<div class="item item-text-wrap item-text-wrap-indice">
					<div class="row row-home-header">
  						<div class="col col-home-header">
							<h2 class="card-home-title-red">Bolsa grande com tecido de peixes</h2>
						</div>
					</div>
					<div class="row">
  						<div class="col">Dona Rosinha da Silva</div>
						<div class="col text-right"><strong> 20/11/2015</strong></div>
					</div>
				</div>
			</div>
			<div class="card card-home-red">
				<div class="item item-text-wrap item-text-wrap-indice">
					<div class="row row-home-header">
  						<div class="col col-home-header">
							<h2 class="card-home-title-red">Papai Noel Grande</h2>
						</div>
					</div>
					<div class="row">
  						<div class="col">Antonieta</div>
						<div class="col text-right"><strong> 20/12/2015</strong></div>
					</div>
				</div>
			</div>
			<div class="card card-home-red">
				<div class="item item-text-wrap item-text-wrap-indice">
					<div class="row row-home-header">
  						<div class="col col-home-header">
							<h2 class="card-home-title-red">Porta treco de coruja</h2>
						</div>
					</div>
					<div class="row">
  						<div class="col">Gustavo</div>
						<div class="col text-right"><strong> 11/09/2015</strong></div>
					</div>
				</div>
			</div>
			<div class="card card-home-red">
				<div class="item item-text-wrap item-text-wrap-indice">
					<div class="row row-home-header">
  						<div class="col col-home-header">
							<h2 class="card-home-title-red">Porta treco com boneca</h2>
						</div>
					</div>
					<div class="row">
  						<div class="col">Florinda</div>
						<div class="col text-right"><strong> 01/11/2015</strong></div>
					</div>
				</div>
			</div>
			<div class="card card-home-red">
				<div class="item item-text-wrap item-text-wrap-indice">
					<div class="row row-home-header">
  						<div class="col col-home-header">
							<h2 class="card-home-title-red">Jogo da velha do Batman</h2>
						</div>
					</div>
					<div class="row">
  						<div class="col">Henrique</div>
						<div class="col text-right"><strong> 20/01/2016</strong></div>
					</div>
				</div>
			</div>
			<div class="card card-home-red">
				<div class="item item-text-wrap item-text-wrap-indice">
					<div class="row row-home-header">
  						<div class="col col-home-header">
							<h2 class="card-home-title-red">Jogo da velha Homem aranha</h2>
						</div>
					</div>
					<div class="row">
  						<div class="col">Mariana</div>
						<div class="col text-right"><strong> 01/11/2015</strong></div>
					</div>
				</div>
			</div>
			<div class="card card-home-red">
				<div class="item item-text-wrap item-text-wrap-indice">
					<div class="row row-home-header">
  						<div class="col col-home-header">
							<h2 class="card-home-title-red">Porta celular</h2>
						</div>
					</div>
					<div class="row">
  						<div class="col">Ana Maria</div>
						<div class="col text-right"><strong> 20/02/2016</strong></div>
					</div>
				</div>
			</div>
			<div class="card card-home-red">
				<div class="item item-text-wrap item-text-wrap-indice">
					<div class="row row-home-header">
  						<div class="col col-home-header">
							<h2 class="card-home-title-red">Varal de atelier</h2>
						</div>
					</div>
					<div class="row">
  						<div class="col">Antonia</div>
						<div class="col text-right"><strong> 20/11/2015</strong></div>
					</div>
				</div>
			</div>
			
			<div class="card card-home-yellow">
				<div class="item item-text-wrap item-text-wrap-indice">
					<div class="row row-home-header">
  						<div class="col col-home-header">
							<h2 class="card-home-title-yellow">Porta livro</h2>
						</div>
					</div>
					<div class="row">
  						<div class="col">Antonieta</div>
						<div class="col text-right"><strong> 04/12/2015</strong></div>
					</div>
					
				</div>
			</div>
			<div class="card card-home-yellow">
				<div class="item item-text-wrap item-text-wrap-indice">
					<div class="row row-home-header">
  						<div class="col col-home-header">
							<h2 class="card-home-title-yellow">Porta livro</h2>
						</div>
					</div>
					<div class="row">
  						<div class="col">Mariana Da Silva Santos</div>
						<div class="col text-right"><strong> 04/12/2015</strong></div>
					</div>
					
				</div>
			</div>
			<div class="card card-home-yellow">
				<div class="item item-text-wrap item-text-wrap-indice">
					<div class="row row-home-header">
  						<div class="col col-home-header">
							<h2 class="card-home-title-yellow">Porta Marmita</h2>
						</div>
					</div>
					<div class="row">
  						<div class="col">Karine</div>
						<div class="col text-right"><strong> 04/12/2015</strong></div>
					</div>
					
				</div>
			</div>
			<div class="card card-home-yellow">
				<div class="item item-text-wrap item-text-wrap-indice">
					<div class="row row-home-header">
  						<div class="col col-home-header">
							<h2 class="card-home-title-yellow">Marcador de página de livro</h2>
						</div>
					</div>
					<div class="row">
  						<div class="col">Antonia</div>
						<div class="col text-right"><strong> 04/12/2015</strong></div>
					</div>
					
				</div>
			</div>
			<div class="card card-home-yellow">
				<div class="item item-text-wrap item-text-wrap-indice">
					<div class="row row-home-header">
  						<div class="col col-home-header">
							<h2 class="card-home-title-yellow">Porta Oculos</h2>
						</div>
					</div>
					<div class="row">
  						<div class="col">Eliseu</div>
						<div class="col text-right"><strong> 04/12/2015</strong></div>
					</div>
					
				</div>
			</div>
			<div class="card card-home-yellow">
				<div class="item item-text-wrap item-text-wrap-indice">
					<div class="row row-home-header">
  						<div class="col col-home-header">
							<h2 class="card-home-title-yellow">Quadro de recados</h2>
						</div>
					</div>
					<div class="row">
  						<div class="col">Alexandre</div>
						<div class="col text-right"><strong> 04/12/2015</strong></div>
					</div>
					
				</div>
			</div>
			<div class="card card-home-yellow">
				<div class="item item-text-wrap item-text-wrap-indice">
					<div class="row row-home-header">
  						<div class="col col-home-header">
							<h2 class="card-home-title-yellow">Cortina de coruja</h2>
						</div>
					</div>
					<div class="row">
  						<div class="col">Mariana Da Silva Santos</div>
						<div class="col text-right"><strong> 04/12/2015</strong></div>
					</div>
					
				</div>
			</div>
			<div class="card card-home-yellow">
				<div class="item item-text-wrap item-text-wrap-indice">
					<div class="row row-home-header">
  						<div class="col col-home-header">
							<h2 class="card-home-title-yellow">Cupcake porta caneta</h2>
						</div>
					</div>
					<div class="row">
  						<div class="col">Antonia</div>
						<div class="col text-right"><strong> 04/12/2015</strong></div>
					</div>
					
				</div>
			</div>


			<div class="card card-home-green">
				<div class="item item-text-wrap item-text-wrap-indice">
					<div class="row row-home-header">
  						<div class="col col-home-header">
							<h2 class="card-home-title-green">Meia infantil</h2>
						</div>
					</div>
					<div class="row">
  						<div class="col">Rodrigo</div>
						<div class="col text-right"><strong> 17/12/2015</strong></div>
					</div>
				</div>
			</div>
			<div class="card card-home-green">
				<div class="item item-text-wrap item-text-wrap-indice">
					<div class="row row-home-header">
  						<div class="col col-home-header">
							<h2 class="card-home-title-green">Passadeira para Lavandeiria</h2>
						</div>
					</div>
					<div class="row">
  						<div class="col">Fernanda</div>
						<div class="col text-right"><strong> 17/12/2015</strong></div>
					</div>
				</div>
			</div>
			<div class="card card-home-green">
				<div class="item item-text-wrap item-text-wrap-indice">
					<div class="row row-home-header">
  						<div class="col col-home-header">
							<h2 class="card-home-title-green">Bolsa Grande</h2>
						</div>
					</div>
					<div class="row">
  						<div class="col">Maria</div>
						<div class="col text-right"><strong> 17/12/2015</strong></div>
					</div>
				</div>
			</div>
			<div class="card card-home-green">
				<div class="item item-text-wrap item-text-wrap-indice">
					<div class="row row-home-header">
  						<div class="col col-home-header">
							<h2 class="card-home-title-green">Xicara</h2>
						</div>
					</div>
					<div class="row">
  						<div class="col">Antonia</div>
						<div class="col text-right"><strong> 17/12/2015</strong></div>
					</div>
				</div>
			</div>
			<div class="card card-home-green">
				<div class="item item-text-wrap item-text-wrap-indice">
					<div class="row row-home-header">
  						<div class="col col-home-header">
							<h2 class="card-home-title-green">Coelho de Pelucia</h2>
						</div>
					</div>
					<div class="row">
  						<div class="col">Icaro</div>
						<div class="col text-right"><strong> 17/12/2015</strong></div>
					</div>
				</div>
			</div>
			<div class="card card-home-green">
				<div class="item item-text-wrap item-text-wrap-indice">
					<div class="row row-home-header">
  						<div class="col col-home-header">
							<h2 class="card-home-title-green">Bailarina de tecido</h2>
						</div>
					</div>
					<div class="row">
  						<div class="col">Erick</div>
						<div class="col text-right"><strong> 17/12/2015</strong></div>
					</div>
				</div>
			</div>
			<div class="card card-home-green">
				<div class="item item-text-wrap item-text-wrap-indice">
					<div class="row row-home-header">
  						<div class="col col-home-header">
							<h2 class="card-home-title-green">Camiseta patchwork</h2>
						</div>
					</div>
					<div class="row">
  						<div class="col">Albert</div>
						<div class="col text-right"><strong> 17/12/2015</strong></div>
					</div>
				</div>
			</div>
			<div class="card card-home-green">
				<div class="item item-text-wrap item-text-wrap-indice">
					<div class="row row-home-header">
  						<div class="col col-home-header">
							<h2 class="card-home-title-green">Galinha pra cozinha</h2>
						</div>
					</div>
					<div class="row">
  						<div class="col">Bruno</div>
						<div class="col text-right"><strong> 17/12/2015</strong></div>
					</div>
				</div>
			</div>
			<div class="card card-home-green">
				<div class="item item-text-wrap item-text-wrap-indice">
					<div class="row row-home-header">
  						<div class="col col-home-header">
							<h2 class="card-home-title-green">Porta caneta</h2>
						</div>
					</div>
					<div class="row">
  						<div class="col">Karine</div>
						<div class="col text-right"><strong> 26/11/2015</strong></div>
					</div>
				</div>
			</div>
		</ion-list>

		<!-- <div class="card card-home-pink" ng-hide="showIndexes">
			<div class="item item-text-wrap">
				<div class="row row-home-header">
					<div class="col col-home-header">
						Índices Indisponíveis no momento
					</div>
				</div>
			</div>
		</div> -->
	</ion-content>


</ion-view>
 