
<ion-view view-title="USUARIOS" align-title="left">
    <ion-content class="home">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1 class="login-title">Cadastro de Usuários</h1>
            </div>
        </div>
        <form name="form" novalidate>
            <div class="list">
                
                <div ng-show="isFormUser">
                    <ion-md-input ng-model="user.name" name="username" placeholder="Nome" highlight-color="balanced" type="text" ng-required="true"></ion-md-input>
                    <!-- <div ng-show="form.$submitted || form.username.$touched" >
                        <div ng-show="form.username.$error.required" class="login-error">
                            Digite um nome                        
                        </div>
                    </div> -->


                    <ion-md-input ng-model="user.name" name="username" placeholder="Nome de Usuario" highlight-color="balanced" type="text" ng-required="true" ></ion-md-input>
                    <!-- <div ng-show="form.$submitted || form.username.$touched" >
                        <div ng-show="form.username.$error.required" class="login-error">
                            Digite um nome de usuario                        
                        </div>
                    </div> -->

                    <ion-md-input ng-model="user.password" name="password"  placeholder="Senha" highlight-color="energized" type="password" ng-required="true" ></ion-md-input>
                    <!-- <div ng-show="form.$submitted || form.password.$touched" >
                        <div ng-show="form.password.$error.required" class="login-error">
                            Digite uma senha                   
                        </div>
                    </div> -->

                    <br>
                    <label class="item item-input item-select">
                        <div>
                            <label class="md-input ng-pristine ng-invalid ng-invalid-required ng-touched color-white" highlight-color="energized" for="perfil">Perfil</label>
                            
                        </div>
                        <select name="perfil">
                            <option value="" selected>Selecione...</option>
                            <option value="" >
                                ADMINISTRADOR
                            </option>

                            <option value="">
                                USUARIO
                            </option>
                        </select>
                    </label>
                    <div class="padding">
                        <!--ui-sref="app.profile"-->
                        <button type="button"  class="btn-submit-login button button-full button-assertive ink" ng-click="nextContato()">Próximo</button>
                    </div>
                </div>
               
                <!-- CONTATO-->
                <div ng-if="isFormContato">
                    <ion-md-input ng-model="user.password" name="password"  placeholder="Telefone " highlight-color="energized" type="password" ng-required="true" ></ion-md-input>
                    <!-- <div ng-show="form.$submitted || form.password.$touched" >
                        <div ng-show="form.password.$error.required" class="login-error">
                            Telefone                  
                        </div>
                    </div> -->

                    <ion-md-input ng-model="user.password" name="password"  placeholder="Telefone Adicional (opcional)" highlight-color="energized" type="password" ng-required="true" ></ion-md-input>
                     <div class="padding">
                        <!--ui-sref="app.profile"-->
                        <button type="button"  class="btn-submit-login button button-full button-assertive ink" ng-click="nextEndereco()">Próximo</button>
                    </div>
                    <br>
                </div>               

               <!-- Endereço --> 
                <div ng-if="isFormEndereco">
                    
                    <ion-md-input ng-model="user.name" name="username" placeholder="Rua" highlight-color="balanced" type="text" ng-required="true" ></ion-md-input>
                    <div ng-show="form.$submitted || form.username.$touched" >
                        <div ng-show="form.username.$error.required" class="login-error">
                            Rua
                        </div>
                    </div>


                    <ion-md-input ng-model="user.name" name="username" placeholder="Número" highlight-color="balanced" type="text" ng-required="true" ></ion-md-input>
                    <div ng-show="form.$submitted || form.username.$touched" >
                        <div ng-show="form.username.$error.required" class="login-error">
                            Digite um nome de usuario                        
                        </div>
                    </div>


                    <ion-md-input ng-model="user.name" name="username" placeholder="Bairro" highlight-color="balanced" type="text" ng-required="true" ></ion-md-input>
                    <div ng-show="form.$submitted || form.username.$touched" >
                        <div ng-show="form.username.$error.required" class="login-error">
                            Digite um nome de usuario                        
                        </div>
                    </div>


                    <ion-md-input ng-model="user.name" name="username" placeholder="CEP" highlight-color="balanced" type="text" ng-required="true" ></ion-md-input>
                    <div ng-show="form.$submitted || form.username.$touched" >
                        <div ng-show="form.username.$error.required" class="login-error">
                            Digite um nome de usuario                        
                        </div>
                    </div>


                    <ion-md-input ng-model="user.name" name="username" placeholder="Cidade" highlight-color="balanced" type="text" ng-required="true" ></ion-md-input>
                    <div ng-show="form.$submitted || form.username.$touched" >
                        <div ng-show="form.username.$error.required" class="login-error">
                            Digite um nome de usuario                        
                        </div>
                    </div>


                    <ion-md-input ng-model="user.name" name="username" placeholder="Estado" highlight-color="balanced" type="text" ng-required="true" ></ion-md-input>
                    <div ng-show="form.$submitted || form.username.$touched" >
                        <div ng-show="form.username.$error.required" class="login-error">
                            Digite um nome de usuario                        
                        </div>
                    </div>


                    <ion-md-input ng-model="user.name" name="username" placeholder="País" highlight-color="balanced" type="text" ng-required="true" ></ion-md-input>
                    <div ng-show="form.$submitted || form.username.$touched" >
                        <div ng-show="form.username.$error.required" class="login-error">
                            Digite um nome de usuario                        
                        </div>
                    </div>

                    <div class="padding">
                        <!--ui-sref="app.profile"-->
                        <button type="submit"  class="btn-submit-login button button-full button-assertive ink" ng-disabled="form.password.$error.required || form.username.$error.required" ng-click="login(user)">Cadastrar</button>
                    </div>
                </div>
        </form>
    </ion-content>
</ion-view>
<!-- 
{
  "usuario": {
    "nome": "gustavo",
    "usuario": "teste",
    "senha": "teste",
    "perfil": 1
  },
  "telefone": [
    {
      "ddd": 12,
      "numero": "12321312",
      "tipo": 1
    },
    {
      "ddd": 12,
      "numero": "12321312",
      "tipo": 1
    }
  ],
  "endereco": [
    {
      "rua": "teste",
      "numero": 1,
      "bairro": "teste",
      "cep": "12312",
      "cidade": "sao paulo",
      "estado": "sao paulo",
      "pais": "BR"
    }
  ]
}

-->