
<ion-view view-title="CLIENTES" align-title="left">
<ion-content class="home">
<div class="hero no-header flat">
    <div class="content">
        <div class="app-icon"></div>
        <h1 class="login-title">Cadastro de Clientes</h1>
    </div>
</div>
<form name="form" novalidate>

    <div class="list">
        <div ng-show="isFormUser">
            <ion-md-input ng-model="user.nome" name="nome" placeholder="Nome" highlight-color="balanced" type="text" ng-required="true"></ion-md-input>
            <div ng-show="form.$submitted || form.nome.$touched" >
                <div ng-show="form.nome.$error.required" class="login-error">
                    Digite um nome                        
                </div>
            </div>
            

            <ion-md-input ng-model="user.email" name="email" placeholder="Email" 
            highlight-color="balanced" type="email" ng-required="true"></ion-md-input>
            <div ng-show="form.$submitted || form.email.$touched" >
                <div ng-show="form.nome.$error.required" class="login-error">
                    Digite um email                        
                </div>
            </div>

           

            <label class="item item-input item-md-label ng-invalid ng-invalid-required ng-valid-br-phone-number" ng-model="user.telefone[0].numero"  placeholder="Telefone" highlight-color="energized">

                <input type="text" class="md-input ng-dirty ng-valid-parse ng-invalid ng-invalid-required ng-touched" name="telefone1" 
                ng-model="user.telefone[0].numero" 
                ng-required="true" 
                required="required" 
                ui-br-phone-number>
                <span class="input-label">Telefone</span>
                <div class="hightlight hightlight-calm">

                </div>
            </label>
            <div ng-show="form.$submitted || form.telefone1.$touched" >
                <div ng-show="form.telefone.$error.required" class="login-error">
                    Telefone                  
                </div>
            </div>

             <label class="item item-input item-md-label" 
             ng-model="user.telefone[1].numero" 
             name="telefone2" 
             placeholder="Telefone" 
             highlight-color="energized" 
             type="text" 
             >

                <input type="text" class="md-input" name="telefone2" 
                 disabled="true">
                <span class="input-label">Telefone Adicional (opcional)</span>
                <div class="hightlight hightlight-calm">
                    
                </div>
            </label>
            
            <div class="padding">
                <!--ui-sref="app.profile"-->
                <button type="button"  class="btn-submit-login button button-full button-assertive ink" ng-click="nextEndereco()" ng-disabled="form.$invalid">Próximo</button>
            </div>
            <br>     
        </div>       

        <!-- Endereço --> 
        <div ng-if="isFormEndereco">

            <ion-md-input ng-model="user.endereco[0].rua" name="rua" placeholder="Rua" highlight-color="balanced" type="text" ng-required="true" ></ion-md-input>
            <div ng-show="form.$submitted || form.rua.$touched" >
                <div ng-show="form.rua.$error.required" class="login-error">
                    Rua
                </div>
            </div>


            <ion-md-input ng-model="user.endereco[0].numero" name="numero" placeholder="Número" highlight-color="balanced" type="text" ng-required="true" ></ion-md-input>
            <div ng-show="form.$submitted || form.numero.$touched" >
                <div ng-show="form.numero.$error.required" class="login-error">
                    Digite o numero do endereco                       
                </div>
            </div>


            <ion-md-input ng-model="user.endereco[0].bairro" name="bairro" placeholder="Bairro" highlight-color="balanced" type="text" ng-required="true" ></ion-md-input>
            <div ng-show="form.$submitted || form.bairro.$touched" >
                <div ng-show="form.bairro.$error.required" class="login-error">
                    Digite o bairro                       
                </div>
            </div>

            <label class="item item-input item-md-label ng-invalid ng-invalid-required ng-valid-br-phone-number" 
             ng-model="user.endereco[0].cep" 
             name="cep" 
             placeholder="CEP" 
             highlight-color="energized">

                <input type="text" class="md-input" name="cep" 
                ng-model="user.endereco[0].cep" ui-br-cep-mask>
                <span class="input-label">CEP</span>
                <div class="hightlight hightlight-calm">
                    
                </div>
            </label>
            <div ng-show="form.$submitted || form.cep.$touched" >
                <div ng-show="form.cep.$error.required" class="login-error">
                    Digite o cep                       
                </div>
            </div>



            <ion-md-input ng-model="user.endereco[0].cidade" name="cidade" placeholder="Cidade" highlight-color="balanced" type="text" ng-required="true" ></ion-md-input>
            <div ng-show="form.$submitted || form.cidade.$touched" >
                <div ng-show="form.cidade.$error.required" class="login-error">
                    Digite a cidade                        
                </div>
            </div>


            <ion-md-input ng-model="user.endereco[0].estado" name="estado" placeholder="Estado" highlight-color="balanced" type="text" ng-required="true" ></ion-md-input>
            <div ng-show="form.$submitted || form.estado.$touched" >
                <div ng-show="form.estado.$error.required" class="login-error">
                    Digite o estado                      
                </div>
            </div>


            <ion-md-input ng-model="user.endereco[0].pais" name="pais" placeholder="País" highlight-color="balanced" type="text" ng-required="true" ></ion-md-input>
            <div ng-show="form.$submitted || form.pais.$touched" >
                <div ng-show="form.pais.$error.required" class="login-error">
                    Digite o pais                        
                </div>
            </div>

            <div class="padding">
                <!--ui-sref="app.profile"-->
                <button type="submit"  class="btn-submit-login button button-full button-assertive ink" ng-disabled="form.$invalid" ng-click="login(user)">Cadastrar</button>
            </div>
        </div>
    </form>
</ion-content>
</ion-view>
<!-- 
{
  "usuario": {
    "nome": "gustavo",
    "usuario": "teste",
    "senha": "teste",
    "perfil": 1
  },
  "telefone": [
    {
      "ddd": 12,
      "numero": "12321312",
      "tipo": 1
    },
    {
      "ddd": 12,
      "numero": "12321312",
      "tipo": 1
    }
  ],
  "endereco": [
    {
      "rua": "teste",
      "numero": 1,
      "bairro": "teste",
      "cep": "12312",
      "cidade": "sao paulo",
      "estado": "sao paulo",
      "pais": "BR"
    }
  ]
}

-->