<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
    <!-- <div class="bar bar-header bar-assertive"> <div class="buttons buttons-left header-item"> <span class="left-buttons"> <button class="button button-icon button-clear ion-navicon"> </button> </span> </div> <div class="h1 title title-left light">Normal Header</div> <div class="buttons buttons-right header-item"> <span class="right-buttons"> <button class="button button-icon button-clear ion-android-more-vertical"> </button> </span> </div> </div> -->
                

        <ion-nav-bar class="bar-assertive-900" align-title="left">
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
           </ion-nav-buttons>
           <!-- <ion-nav-back-button class="no-text">
           </ion-nav-back-button> -->
        </ion-nav-bar>
        <ion-nav-view name="menuContent" ng-class="{expanded: isExpanded}" ></ion-nav-view>

        <button id="fab-options" class="button button-fab button-fab-bottom-right expanded button-energized-900 drop">
            <i class="icon ion-plus"></i>
        </button>
        
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-header-bar class="bar-assertive-900" >
            <!--<span class="avatar" style="background: url('img/crown.jpg'); background-size: cover;"></span>-->
            <h2 class="menu-title title">Menu</h2>
        </ion-header-bar>
        <ion-content >
            <ion-list>
                <ion-item nav-clear menu-close ui-sref="app.dashboard">
                    Inicio
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.createUser">
                    Cadastros
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.login">
                    Pedidos
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.profile">
                    Caixa
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.friends">
                    Estoque
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.friends">
                    Admin
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.gallery">
                        
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>