<!--
 {"usuario" : { "nome" : "gustavo", "usuario" : "teste", "senha" : "teste", "perfil" : 1},
"telefone" : [{ "ddd" : 12, "numero" : "12321312", "tipo" : 1},
{ "ddd" : 12, "numero" : "12321312", "tipo" : 1}],
"endereco" : [{"rua": "teste", "numero" : 1, "bairro" : "teste", "cep" : "12312", "cidade" : "sao paulo", "estado" : "sao paulo", "pais" : "BR" }]}

Telefone, Endereco devem ser enviados como array
[{ "ddd" : 12, "numero" : "12321312", "tipo" : 1}]    
    
-->
<ion-view name="Usuario">
    <ion-content>

        <div layout="column" ng-cloak class="md-inline-form">
            <md-content layout-padding>
                <form name="formUser">
                    <div>   
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block">
                                <label>Nome</label>
                                <input name="name" ng-model="vm.user.name" required>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Usuario</label>
                                <input name="userName" ng-model="vm.user.user" required>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Email</label>
                                <input name="login" ng-model="vm.user.login" class="border-input-all" type="email" required>
                            </md-input-container>
                            

                        </div>
                        <div layout-gt-sm="row">

                            <md-input-container class="md-block">
                                <label>Senha</label>
                                <input name="password" type="password" ng-model="vm.user.password" required class="border-input-all">
                            </md-input-container>
                            <!--<md-input-container class="md-block" flex-gt-sm>
                                <label>Perfil</label>
                                <md-select ng-model="user.profile" name="profile" required>
                                    <md-option ng-repeat="profile in vm.profiles" value="{{profile.id}}">
                                        {{profile.description}}
                                    </md-option>
                                </md-select>
                            </md-input-container>-->

                            <div layout="row" layout-align="end center">
                                <md-button class="md-primary" ng-click="vm.create()"
                                ng-disabled="formUser.$invalid">Cadastrar</md-button>
                            </div>
                        </div>

                    </div>


                </form>
            </md-content>
        </div>
    </ion-content>
</ion-view>