<!--
 {"usuario" : { "nome" : "gustavo", "usuario" : "teste", "senha" : "teste", "perfil" : 1},
"telefone" : [{ "ddd" : 12, "numero" : "12321312", "tipo" : 1},
{ "ddd" : 12, "numero" : "12321312", "tipo" : 1}],
"endereco" : [{"rua": "teste", "numero" : 1, "bairro" : "teste", "cep" : "12312", "cidade" : "sao paulo", "estado" : "sao paulo", "pais" : "BR" }]}

Telefone, Endereco devem ser enviados como array
[{ "ddd" : 12, "numero" : "12321312", "tipo" : 1}]    
    
-->
<ion-view name="Usuario">
    <ion-content>

        <div layout="column" ng-cloak class="md-inline-form">
            <md-content layout-padding>
                <form name="formUser">
                    <div ng-show="vm.isFormUser">
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block">
                                <label>Nome</label>
                                <input name="name" ng-model="vm.user.name" required>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Usuario</label>
                                <input name="userName" ng-model="vm.user.userName" required>

                            </md-input-container>

                        </div>
                        <div layout-gt-sm="row">

                            <md-input-container class="md-block">
                                <label>Senha</label>
                                <input name="password" type="password" ng-model="vm.user.password" required>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Perfil</label>
                                <md-select ng-model="user.profile" name="profile" required>
                                    <md-option ng-repeat="profile in vm.profiles" value="{{profile.id}}">
                                        {{profile.description}}
                                    </md-option>
                                </md-select>
                            </md-input-container>

                            <div layout="row" layout-align="end center">
                                <md-button class="md-primary" ng-click="vm.nextContato()" ng-disabled="
                                            (formUser.name.$error.required || 
                                            formUser.userName.$error.required  ||
                                            formUser.password.$error.required  ||
                                            formUser.profile.$error.required) 
                                            ">Proximo</md-button>
                            </div>
                        </div>

                    </div>
                    <div ng-show="vm.isFormContact">

                        <div layout-gt-sm="row">

                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Telefone</label>
                                <input name="phone1" ng-model="vm.user.phone[0]" required ui-br-phone-number>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Telefone (opcional)</label>
                                <input name="phone2" ng-model="vm.user.phone[1]" ui-br-phone-number>
                            </md-input-container>
                            <div layout="row" layout-align="end center">
                                 <md-button class="md-primary" ng-click="vm.goBack('user')">Voltar</md-button>
                                <md-button class="md-primary" ng-click="vm.nextLocation()" 
                                ng-disabled="(formUser.phone1.$error.required)">Proximo</md-button>
                            </div>
                        </div>
                    </div>

                    <div ng-show="vm.isFormLocation">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Número</label>
                            <input ng-model="vm.user.number" required>
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Bairro</label>
                            <input ng-model="vm.user.district" required>
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm>
                            <label>CEP</label>
                            <input name="postalCode" ng-model="vm.user.postalCode" required ui-br-cep-mask required>

                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Cidade</label>
                            <input ng-model="vm.user.city" required>
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Estado</label>
                            <input ng-model="vm.user.state" required>
                        </md-input-container>
                        <div layout="row" layout-align="end center">
                            <md-button class="md-primary" ng-click="vm.goBack('contact')">Voltar</md-button>
                            <md-button class="md-primary" ng-click="vm.create()" ng-disabled="formUser.$invalid">Cadastrar</md-button>
                        </div>
                    </div>

                </form>
            </md-content>
        </div>
    </ion-content>
</ion-view>
