<ion-view name="boxclosing-view">
    <ion-content overflow-scroll="true">
        <md-content ng-if="vm.showBoxClosing" flex>

            <filter-grid filters="vm.filters"></filter-grid>
            <md-content>
                <div class="row">
                    <md-datepicker ng-model="vm.initialDate" md-placeholder="Inicio" class="col"></md-datepicker>

                    <md-datepicker ng-model="vm.finalDate" md-placeholder="Fim" class="col"></md-datepicker>
                    <md-button class="md-primary col col-10" ng-click="vm.search()"><i class="fa fa-search" aria-hidden="true"></i></md-button>
                </div>
                <md-list>
                    <ion-scroll>

                        <md-card ng-repeat="item in vm.items| orderBy:order:ascending" ng-if="vm.items.length > 0" ng-click="vm.showReportProducts()">
                            <md-toolbar class="item-list card-primary">
                                <div class="md-toolbar-tools">
                                    <div class="row">
                                        <h3 flex class="md-headline col "> Fechamento de Caixa: </h3>
                                        <i flex class="fa fa-chevron-right col col-10"></i>

                                    </div>

                                </div>
                            </md-toolbar>

                            <md-card-content layout-align="space-between">
                                <div layout="row" ng-if="item.date !== ''">
                                    <p flex class="col md-headline negrito">Mês/Ano:</p>
                                    <p flex class="col md-headline ">{{item.date}}</p>
                                </div>
                                <div layout="row">
                                    <p flex class="col md-headline negrito">Descontos:</p>
                                    <p flex class="col md-headline ">R$ {{item.total_discount | number: 2}}</p>
                                </div>
                                <div layout="row">
                                    <p flex class="col md-headline negrito">Total Bruto:</p>
                                    <p flex class="col md-headline ">R$ {{item.total | number: 2}}</p>
                                </div>
                                
                                <div layout="row">
                                    <p flex class="col md-headline negrito">Total Liquido:</p>
                                    <p flex class="col md-headline ">R$ {{item.total_liquid | number: 2}}</p>
                                </div>
                                
                                <div layout="row">
                                    <p flex class="col md-headline negrito">Produtos Vendidos:</p>
                                    <p flex class="col md-headline ">{{item.totalsaleproducts}} unidades</p>
                                </div>

                                <div layout="row">
                                    <p flex class="col md-headline negrito">Produtos Produzidos:</p>
                                    <p flex class="col md-headline ">{{item.totalproductionproducts}} unidades</p>
                                </div>

                                <div layout="row">
                                    <p flex class="col md-headline negrito">Produtos Pendentes:</p>
                                    <p flex class="col md-headline ">{{item.totalproductionpending}} unidades</p>
                                </div>


                            </md-card-content>
                        </md-card>
                    </ion-scroll>
                </md-list>
            </md-content>
        </md-content>
        <md-content ng-if="!vm.showBoxClosing" flex>
            <md-content>
                <div class="row">
                    <md-datepicker ng-model="vm.initialDate" md-placeholder="Inicio" class="col"></md-datepicker>

                    <md-datepicker ng-model="vm.finalDate" md-placeholder="Fim" class="col"></md-datepicker>
                    <md-button class="md-primary col col-10" ng-click="vm.search()"><i class="fa fa-search" aria-hidden="true"></i></md-button>
                </div>
                <md-list>
                    <ion-scroll>
                    
                    <md-card ng-repeat="item in vm.products | orderBy:order:ascending" ng-if="vm.products.length > 0">
                        <md-toolbar class="item-list card-primary">
                            <div class="md-toolbar-tools">
                                <div class="row">
                                    <h3 flex class="md-headline col "> {{item.name}} </h3>

                                </div>

                            </div>
                        </md-toolbar>

                        <md-card-content layout-align="space-between">
                            <!--<div layout="row" ng-if="item.date !== ''">
                                <p flex class="col md-headline negrito">Mês/Ano:</p>
                                <p flex class="col md-headline "> {{item.date}}</p>
                            </div>-->
                            <div layout="row">
                                <p flex class="col md-headline negrito">Quantidade:</p>
                                <p flex class="col md-headline "> {{item.quantity || 0}} unidade{{item.quantity > 1 ? "s" : ""}}</p>
                            </div>
                            <div layout="row">
                                <p flex class="col md-headline negrito">Preço de Custo:</p>
                                <p flex class="col md-headline ">R$ {{item.sale_cost || 0 | number: 2}}</p>
                            </div>
                            <div layout="row">
                                <p flex class="col md-headline negrito">Preço de Venda:</p>
                                <p flex class="col md-headline ">R$ {{item.sale_price || 0 | number: 2}}</p>
                            </div>

                        </md-card-content>
                    </md-card>
                    </ion-scroll>
                </md-list>
                <div layout="row" layout-align="space-around end">
                    <md-button class="md-primary" ng-click="vm.back()">Voltar</md-button>
                </div>
            </md-content>
        </md-content>
    </ion-content>


</ion-view>