<ion-side-menus enable-menu-with-back-views="true">
    <div md-swipe-right="vm.openSidenav('left')" md-swipe-left="vm.closeSidenav('left')">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="menu" ng-click="vm.toggleSidenav('left')">

                    <i class="fa fa-2x fa-bars" title="Entrar"></i>
                </md-button>
                <h2 class="md-display-1">{{vm.currentTitle()}}</h2>

                <span flex=""></span>
                <md-button class="md-icon-button" aria-label="More">
                    <i class="fa fa-2x fa-sign-in" title="Entrar" ui-sref="login"></i>
                </md-button>
            </div>
        </md-toolbar>

        <div layout="row" flex>
            <md-sidenav style="overflow-y: scroll" layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left">

                <div layout="row" layout-padding>
                    <md-card>
                        <img src="img/logo-extended.png" class="md-card-image menu-image" alt="image caption">
                    </md-card>

                </div>


                <md-menu-sidenav>
                    <md-menu-sidenav-item ng-click="vm.closeSidenav('left')" ui-sref="app.production">
                        <md-menu-sidenav-title>

                            <md-icon flex="15"></md-icon>
                            <h1 class="md-heading" flex><i class="fa fa-sign-out fa-stack"></i> Dashboard Produção</h1>

                        </md-menu-sidenav-title>
                    </md-menu-sidenav-item>
                    <md-menu-sidenav-item ng-click="vm.closeSidenav('left')" ui-sref="app.createOrder">
                        <md-menu-sidenav-title>

                            <md-icon flex="15"></md-icon>
                            <h1 class="md-heading" flex><i class="fa fa-sign-out fa-stack"></i> Novo Pedido</h1>

                        </md-menu-sidenav-title>
                    </md-menu-sidenav-item>
                    <md-menu-sidenav-item ng-click="vm.closeSidenav('left')" ui-sref="app.orders">
                        <md-menu-sidenav-title>

                            <md-icon flex="15"></md-icon>
                            <h1 class="md-heading" flex><i class="fa fa-sign-out fa-stack"></i> Consultar Pedidos</h1>

                        </md-menu-sidenav-title>
                    </md-menu-sidenav-item>
                    <md-menu-sidenav-item>
                        <md-menu-sidenav-title>
                            <md-toogle-menu layout="row" flex>
                                <md-icon flex="15"></md-icon>

                                <h1 class="md-heading md-primary" flex><i class="fa fa-plus fa-stack"></i> Cadastros</h1>
                                <md-icon flex="15"></md-icon>
                            </md-toogle-menu>

                        </md-menu-sidenav-title>

                        <md-menu-sidenav-content>
                            <md-menu-sidenav-subitem ui-sref="app.createProduct" ng-click="vm.closeSidenav('left')">
                                <md-icon flex="15"></md-icon>
                                <i class="fa fa-arrow-right fa-stack"></i> Cadastrar Produtos
                            </md-menu-sidenav-subitem>
                            <md-menu-sidenav-subitem ui-sref="app.createUser" ng-click="vm.closeSidenav('left')">
                                <md-icon flex="15"></md-icon>
                                <span></span><i class="fa fa-arrow-right fa-stack"></i> Cadastrar Usuário
                            </md-menu-sidenav-subitem>

                            <md-menu-sidenav-subitem ui-sref="app.createClient" ng-click="vm.closeSidenav('left')">
                                <md-icon flex="15"></md-icon>
                                <i class="fa fa-arrow-right fa-stack"></i> Cadastrar Cliente
                            </md-menu-sidenav-subitem>
                            <md-menu-sidenav-subitem ui-sref="app.createProvider" ng-click="vm.closeSidenav('left')">
                                <md-icon flex="15"></md-icon>
                                <i class="fa fa-arrow-right fa-stack"></i> Cadastrar Fornecedor
                            </md-menu-sidenav-subitem>
                        </md-menu-sidenav-content>
                    </md-menu-sidenav-item>

                    <md-menu-sidenav-item>
                        <md-menu-sidenav-title>
                            <md-toogle-menu layout="row" class="md-primary" flex>
                                <md-icon flex="15"></md-icon>
                                <h1 class="md-heading" flex><i class="fa fa-bar-chart fa-stack"></i> Relatórios</h1>

                            </md-toogle-menu>

                        </md-menu-sidenav-title>
                        <md-menu-sidenav-content>
                            <!--<md-menu-sidenav-subitem ng-click="vm.closeSidenav('left')">
                                <md-icon flex="15"></md-icon>
                                <i class="fa fa-arrow-right fa-stack"></i> Relatório de Caixa
                            </md-menu-sidenav-subitem>-->
                            <md-menu-sidenav-subitem ui-sref="app.products" ng-click="vm.closeSidenav('left')">
                                <md-icon flex="15"></md-icon>
                                <i class="fa fa-arrow-right fa-stack"></i> Relatório de Produtos
                            </md-menu-sidenav-subitem>

                            <md-menu-sidenav-subitem ui-sref="app.employees" ng-click="vm.closeSidenav('left')">
                                <md-icon flex="15"></md-icon>
                                <i class="fa fa-arrow-right fa-stack"></i> Relatório de Fornecedores
                            </md-menu-sidenav-subitem>
                            
                            <!--<md-menu-sidenav-subitem ng-click="vm.closeSidenav('left')">
                                <md-icon flex="15"></md-icon>
                                <i class="fa fa-arrow-right fa-stack"></i> Relatório de Itens
                            </md-menu-sidenav-subitem>-->
                        </md-menu-sidenav-content>
                    </md-menu-sidenav-item>

                    <md-menu-sidenav-item ui-sref="app.boxClosing" ng-click="vm.closeSidenav('left')">
                        <md-menu-sidenav-title>
                            <md-toogle-menu layout="row" class="md-primary" flex>

                                <md-icon flex="15"></md-icon>
                                <h1 class="md-heading" flex><i class="fa fa-desktop fa-stack"></i> Caixa</h1>

                            </md-toogle-menu>

                        </md-menu-sidenav-title>
                    </md-menu-sidenav-item>
                    
                    <md-menu-sidenav-item ui-sref="login" ng-click="vm.closeSidenav('left')">
                        <md-menu-sidenav-title>
                            <md-toogle-menu layout="row" class="md-primary" flex>
                                <md-icon flex="15"></md-icon>

                                <h1 class="md-heading" flex><i class="fa fa-sign-out fa-stack"></i> Sair</h1>

                            </md-toogle-menu>

                        </md-menu-sidenav-title>
                    </md-menu-sidenav-item>
                    </md-card>
                </md-menu-sidenav>
            </md-sidenav>

            <div layout="column" flex id="content">
                <ion-nav-view layout="column" layout-fill="" name="menuContent" layout-padding="" class="ui-view-container"></ion-nav-view>

            </div>
        </div>
    </div>
</ion-side-menus>