.md-toolbar-tools h1, .md-toolbar-tools h2, .md-toolbar-tools h3 {
    color: white;
}
body > ion-nav-view > div > div > md-sidenav, .menu-content{
        /*background:#7F408A;*/
}
/*.menu-content {
    background-color: rgb(156,39,176);
}*/
/*rgba(177, 123, 187, 0.42);*/
.menu-title {
    color: rgba(255,255,255,0.87)!important;
    
}

.menu-image {
     width: 270px;
    height: 100px;


}

.border-input-all {
    border-bottom-color: #E1E1E1!important;
}
.text-right {
    text-align: right;
}

.item-list {
    color: rgb(255,255,255)!important;
}
.card-red {
    background-color: #E53935!important;
}
.card-yellow {
    background-color: #FDD835!important;
}
.card-green {
    background-color: #4CAF50!important;
}
.filter-icon {
    color: rgb(256, 256, 256);
} 
.filter-select { 
    
     margin: -4px;

}

.toast-top-center { 
    top: 450px;
} 
@media all and (max-width: 240px) { 
    .toast-top-center { 
        margin-left: -84px; 
    } 
} 
@media all and (min-width: 241px) and (max-width: 320px) { 
    .toast-top-center { 
        margin-left: -84px; 
    } 
} 
@media all and (min-width: 321px) and (max-width: 480px) { 
    .toast-top-center { 
        margin-left: -50px; 
    } 
}

#select_value_label_0 > span > div,
#select_value_label_6 > span > div {
    color: white;
}
#content > ion-nav-view > ion-view > ion-content > div.scroll > md-content > div > md-content > md-list > md-list-item > button > md-checkbox > div.md-container.md-ink-ripple {
    top: -5px;
}   

#content > ion-nav-view > ion-view > ion-content > div.scroll > md-content > div > md-content > ion-list > div > md-card > md-card-content > div > p {
    font-size: 20px;
    text-align: center;
    
}
#content > ion-nav-view > ion-view > ion-content > div.scroll > md-content > div > md-content > ion-list > div > md-card > md-card-content > div > h3 {
    font-size: 21px;
    font-weight: bold;
    margin-top: -1px;
    text-align: center;
}