<ion-view>
    <ion-content>
        <ion-scroll>
            <md-content>

                <div layout="column" ng-cloak class="md-inline-form">
                    <div ng-hide="!vm.showFormOrder">
                        <form name="formOrder">


                            <md-content class="md-padding">
                                <md-autocomplete 
                                    md-search-text-change="vm.searchTextChangeClient(vm.searchTextClient)" 
                                    md-search-text="vm.searchTextClient"
                                    md-selected-item-change="vm.selectedItemChangeClient(item)" 
                                    md-items="item in vm.querySearchClient(vm.searchTextClient)"
                                    md-item-text="item.display" md-min-length="0" placeholder="Digite o Nome do Cliente">
                                    <md-item-template>
                                        <span md-highlight-text="vm.searchTextClient" md-highlight-flags="^i">{{item.display}}</span>
                                    </md-item-template>
                                    <md-not-found>
                                        <a ng-click="vm.newClient(vm.searchTextClient)">Cadastrar cliente agora</a>
                                    </md-not-found>
                                </md-autocomplete>



                            </md-content>

                            <div layout-gt-sm="row" ng-hide="!vm.showFormProduct">
                                <md-content class="md-padding">

                                    <md-autocomplete md-search-text-change="vm.searchTextChangeProduct(vm.searchTextProduct)" md-search-text="vm.searchTextProduct"
                                        md-selected-item-change="vm.selectedItemChangeProduct(item)" md-items="item in vm.querySearchProduct(vm.searchTextProduct)"
                                        md-item-text="item.display" md-min-length="0" placeholder="Digite o Nome do Produto">
                                        <md-item-template>
                                            <span md-highlight-text="vm.searchTextProduct" md-highlight-flags="^i">{{item.display}}</span>
                                        </md-item-template>
                                        <md-not-found>
                                            <a ng-click="vm.newProduct(vm.searchTextProduct)">Cadastrar produto agora</a>
                                        </md-not-found>
                                    </md-autocomplete>

                                </md-content>
                                <md-divider></md-divider>

                                <div ng-if="vm.selectedProduct.id" class="md-padding">

                                    <div layout="row">

                                        <md-input-container class="md-block" flex>
                                            <label>Preço de Venda: </label>
                                            <input name="cost" ng-model="vm.selectedProduct.sale_cost" ui-number-mask required disabled>
                                        </md-input-container>
                                        <md-input-container class="md-block" flex>
                                            <label>Fornecedor: </label>
                                            <input name="supplier" ng-model="vm.selectedProduct.supplier" required disabled>
                                        </md-input-container>

                                    </div>
                                    <md-input-container class="md-block margin-container-order-describe">
                                        <label>Observação</label>
                                        <textarea name="describe" ng-model="vm.selectedProduct.observacao" md-maxlength="200" rows="5" md-select-on-focus></textarea>
                                    </md-input-container>

                                    <md-input-container class="md-block margin-container-order-quantity">
                                        <label>Quantidade</label>
                                        <input name="quantity" ng-model="vm.selectedProduct.quantity" required type="number" class="border-input-all">
                                    </md-input-container>
                                    <md-checkbox aria-label="selecionar data producao" ng-model="vm.selectedProduct.toProduction" aria-label="Produção">
                                        Produção
                                    </md-checkbox>
                                    <div ng-if="vm.selectedProduct.toProduction">
                                        <label>Data de entrega</label>
                                             <md-datepicker ng-model="vm.selectedProduct.sendDate" name="sendDate"  md-placeholder="Selecione a data" required></md-datepicker>

                                        <!--<md-input-container class="md-block">
                                            
                                            <input type="date" class="border-input-all" required name="sendDate" ng-model="vm.selectedProduct.sendDate" required>
                                        </md-input-container>-->
                                    </div>


                                </div>

                                <div layout="row" layout-align="space-around end" ng-if="vm.showButtons">
                                    <md-button class="md-primary" ng-click="vm.addToOrder(form)" ng-if="vm.selectedProduct.id" ng-disabled="formOrder.$invalid">Adicionar ao pedido</md-button>
                                    <md-button class="md-primary" ng-click="vm.toPaymentOrder()" ng-if="vm.order.products.length > 0">Finalizar</md-button>
                                </div>


                            </div>
                        </form>
                    </div>
                </div>

            </md-content>

            <md-list ng-if="vm.order.products.length > 0 && vm.showFormOrder">

                <md-subheader class="md-no-sticky">Produtos do pedido</md-subheader>
                <md-divider></md-divider>
                <md-card ng-repeat="product in vm.order.products">
                    <md-card-content layout-align="space-between">
                        <div class="row">
                            <p class="col ">Nome:</p>
                            <p class="col ">Quantidade:</p>
                            <p class="col ">Entrega:</p>
                            <p class="col">#</p>
                        </div>
                        <div class="row">
                            <p class="col">{{ product.name }}</p>
                            <p class="col">{{ product.quantity }}</p>
                            <p class="col" ng-if="product.sendDate">{{product.sendDate.toLocaleDateString()}}</p>
                            <p class="col" ng-if="!product.sendDate"> - </p>
                            <md-checkbox aria-label="remover" class="col md-secondary" ng-click="vm.removeItem(product)"></md-checkbox>
                        </div>
                    </md-card-content>
                </md-card>
                <md-divider></md-divider>
            </md-list>
        </ion-scroll>


        <!--</md-content>-->
        <md-content layout-padding ng-if="vm.showFormPayment">
            <form name="formPayment">

                <md-input-container class="md-block">
                    <label>Total</label>
                    <input name="total" ng-model="vm.order.total_value" type="text" disabled ui-number-mask class="border-input-all">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Desconto</label>
                    <input name="discount" ng-model="vm.order.discount" ui-number-mask type="text" class="border-input-all">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Valor Entrada</label>
                    <input name="entrance" ng-model="vm.order.entrance" 
                    ui-number-mask type="text" class="border-input-all" required="vm.verifyPendingPayment">
                    <br />
                    <span ng-if="!vm.pendingToPayment">Pendente a ser pago: R$ {{vm.order.total_value - vm.order.entrance - vm.order.discount | number:2}} </span>
                </md-input-container>
                <div layout="row" layout-align="space-around end">
                    <md-button class="md-primary" ng-click="vm.backToFormOrder()">Voltar</md-button>
                    <md-button class="md-primary" ng-click="vm.finishOrder()" 
                    ng-disabled="formPayment.$invalid || 
                                (vm.order.total_value - vm.order.entrance - vm.order.discount| number:2 ) >0 ||
                                (vm.order.total_value - vm.order.entrance - vm.order.discount | number:2) < 0">Finalizar</md-button>
                </div>
            </form>
        </md-content>
        <md-content ng-if="vm.showDetailOrder">
            <md-list>

                <md-card>
                    <md-toolbar class="item-list card-primary">
                        <div class="md-toolbar-tools">
                            <h3 class="md-headline"> Pedido resumido</h3>
                        </div>
                    </md-toolbar>

                    <md-card-content layout-align="space-between" ng-repeat="product in  vm.order.products">

                        <div layout="row">
                            <p flex class="col md-headline negrito">Nome:</p>
                            <p flex class="md-headline">{{vm.client.display}}</p>
                        </div>
                        <div layout="row">
                            <p flex class="col md-headline negrito">Quantidade:</p>
                            <p flex class="col md-headline">{{product.quantity}} {{product.quantity > 1 ? "unidades" : "unidade"}}</p>
                        </div>
                        <div layout="row">
                            <p flex class="col md-headline negrito">Entrega:</p>
                             <p flex class="col md-headline" ng-if="product.toProduction"> {{product.sendDate.toLocaleDateString()}}</p>
                            <p flex class="col md-headline" ng-if="!product.toProduction"> Retirada </p>

                        </div>
                        <div layout="row">
                            <p flex class="col md-headline negrito">Fornecedor:</p>
                            <p flex class="col md-headline">{{product.supplier}}</p>
                        </div>
                        <md-divider></md-divider>

                    </md-card-content>
                    <md-card-content layout-align="space-between">
                        <div layout="row" ng-if="vm.order.discount">
                            <p flex class="col md-headline negrito" >Desconto:</p>
                            <p flex class="col md-headline">R$ {{vm.order.discount  | number: 2}}</p>

                        </div>
                        <div layout="row">
                            <p flex class="col md-headline negrito" ng-if="vm.order.entrance">Entrada:</p>
                            <p flex class="col md-headline" ng-if="vm.order.entrance">R$ {{vm.order.entrance  | number: 2}}</p>
                        </div>
                        <div layout="row" ng-if="vm.order.pending_value > 0">
                            <p flex class="md-headline negrito">Pendente:</p>
                            <p flex class="col md-headline">R$ {{vm.order.pending_value | number: 2}}</p>
                        </div>
                        <div layout="row">
                            <p flex class="md-headline negrito">Total:</p>
                            <p flex class="col md-headline">R$ {{vm.orderTotal_value | number: 2}}</p>
                        </div>
                        <div layout="row" layout-align="space-around end">
                            <md-button class="col md-primary" ng-click="vm.backToPayment()">Voltar</md-button>
                            <md-button class="col md-primary" ng-click="vm.create()">Finalizar</md-button>
                        </div>
                    </md-card-content>
                </md-card>
            </md-list>
        </md-content>
        <!--</md-content>-->


    </ion-content>
</ion-view>