<ion-view>
    <ion-content>
        <ion-scroll>
            
            <md-card ng-if="vm.orderPendingPayment || vm.item.order.pendingFallback">

                <md-toolbar class="item-list card-red" > 
                    <div class="md-toolbar-tools">
                        <h3 class="md-headline"> Atualizar Pedido </h3>
                    </div>
                </md-toolbar>

                <md-card-content layout-align="space-between" >
                    <md-input-container class="md-block col" ng-if="vm.orderPendingPayment">
                        <label>Valor de pagamento</label>
                        <input name="pendingValue" ui-number-mask ng-model="vm.pendingValue" class="col col-50" ui required >
                        <md-button class="md-raised md-primary" ng-disabled="!vm.pendingValue || vm.pendingValue ===0 || vm.pendingValue > vm.item.order.total" ng-click="vm.updateValuePayment()">Atualizar Status</md-button>
                        <br />
                        <div class="col"><span class="red ">Valor Pendente: </span> R$ {{vm.item.order.total - (vm.pendingValue || 0)  | number: 2}}</div>
                    </md-input-container>
                    <md-input-container class="md-block col" ng-if="vm.item.order.pendingFallback">
                        <md-button class="md-raised btn-green " ng-click="vm.registerFallbackProducts()">Registrar retirada de produtos</md-button>
                        <br />
                    </md-input-container>
                </md-card-content>
            </md-card>

            <md-card>

                <md-toolbar class="item-list card-primary">
                    <div class="md-toolbar-tools">
                        <h3 class="md-headline">  Pedido </h3>
                    </div>
                </md-toolbar>
                <md-card-content layout-align="space-between">
                    <div layout="row">
                        <h3 flex class="md-headline" ng-if="vm.order.discount">Desconto:</h3>
                        <h3 flex class="md-headline" ng-if="vm.order.entrance">Entrada:</h3>

                    </div>
                </md-card-content>
                <md-card-content layout-align="space-between" ng-repeat="product in  vm.item.order.products">
                    <div layout="row">
                        <p flex class="col md-headline negrito">Produção em: </p>
                        <p flex class="col md-headline">{{product.percentage_conclusion || 0}}%</p>
                    </div>
                    <div layout="row">
                        <p flex class="col md-headline negrito">Produto: </p>
                        <p flex class="col md-headline">{{product.name}}</p>
                    </div>
                    <div layout="row">
                        <p flex class="col md-headline negrito">Quantidade: </p>
                        <p flex class="col md-headline">{{product.quantity}}</p>
                    </div>
                    <div layout="row">
                        <p flex class="col md-headline negrito">Descrição: </p>
                        <p flex class="col md-headline">{{product.describe}}</p>
                    </div>
                    <div layout="row">
                        <p flex class="col md-headline negrito">Tamanho: </p>
                        <p flex class="col md-headline">{{product.height}} CM</p>
                    </div>
                    <div layout="row">
                        <p flex class="col md-headline negrito">Peso: </p>
                        <p flex class="col md-headline">{{product.weight}} KG </p>
                    </div>

                    <md-divider></md-divider>

                    <div layout="row" ng-if="product.supplier">
                        <p flex class="col md-headline negrito">Fornecedor: </p>
                        <p flex class="col md-headline">{{product.supplier}}</p>
                    </div>

                    <div layout="row">
                        <p flex class="col md-headline negrito">Entrega:</p>
                        <p flex class="col md-headline" ng-if="!product.delivery_date"> Retirada </p>
                        <p flex class="col md-headline" ng-if="product.delivery_date"> {{product.delivery_date}}</p>
                    </div>

                    <md-divider class="divider-red"></md-divider>

                </md-card-content>
                <md-card-content layout-align="space-between">
                    <div layout="row">
                        <p flex class="col md-headline negrito" ng-if="vm.item.order.discount">Desconto: </p>
                        <p flex class="col md-headline" ng-if="vm.item.order.discount">R$ {{vm.item.order.discount | number: 2}}</p>

                    </div>
                    <div layout="row">
                        <p flex class="col md-headline negrito" ng-if="vm.item.order.entrance">Entrada: </p>
                        <p flex class="col md-headline" ng-if="vm.item.order.entrance">R$ {{vm.item.order.entrance | number: 2}}</p>
                    </div>

                    <div layout="row">
                        <h3 flex class="col md-headline negrito">Total: </h3>
                        <p flex class="col md-headline">R$ {{vm.item.order.total | number: 2}}</p>
                    </div>
                    <div layout="row" layout-align="space-around end">
                        <md-button class="md-primary" ng-click="vm.backToPayment()">Voltar</md-button>
                    </div>
                </md-card-content>
            </md-card>
        </ion-scroll>
    </ion-content>
</ion-view>