<ion-view view-title="PEDIDOS - PRODUÇÃO" align-title="left">
    <ion-content class="has-header">
        <div class="row">
            <div class="col-20">
                <div class="input-label">
                    Ordem:
                </div>
            </div>
            <div class="col-10">
                <a href="#" class="ion-arrow-up-c" ng-click="ascending=true"></a>
            </div>
            <div class="col-10">
                <a href="#" class="ion-arrow-down-c" ng-click="ascending=false"></a>
            </div>
            <div class="col-50 item-select">
                <div class="input-label">
                    Por:
                </div>
                <select class="col-20" ng-model="order">
                    <option ng-repeat="filter in filters" value="{{filter.value}}" ng-selected="{{filter.selected}}">{{filter.desc}} </option>
                </select>
            </div>
        </div>

        <ion-list ng-repeat="item in items| orderBy:order:ascending">
            <ion-item class="card card-home-{{item.color.text}}">
                <div class="item-text-wrap">
                    <div class="row row-home-header">
                        <div class="col col-home-header">
                            <h2 class="card-home-title-{{item.color.text}}">{{item.product}}</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">{{item.name}}</div>
                        <div class="col text-right"><strong> {{item.date}}</strong></div>
                    </div>
                </div>
            </ion-item>

        </ion-list>
    </ion-content>


</ion-view>