<ion-view>
    <ion-content>
        <div layout="column" ng-cloak class="md-inline-form">
            <md-content layout-padding>
                <form name="productForm">

                    <div ng-show="vm.content.personalData">
                        <md-input-container class="md-block">
                            <label>Fornecedor</label>
                            <md-select name="supplier" ng-model="vm.product.id_supplier">
                                <md-option ng-repeat="supplier in vm.suppliers" value="{{supplier.id}}">
                                    {{supplier.description}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <!--<md-content>
                            <form ng-submit="$event.preventDefault()">
                                <md-autocomplete  
                                    md-selected-item="vm.selectedItem" 
                                    md-search-text-change="vm.searchTextChange(vm.searchText)"
                                    md-search-text="vm.searchText" 
                                    md-selected-item-change="vm.selectedItemChange(item)"
                                    md-items="item in vm.querySearch(vm.searchText)" 
                                    md-min-length="0"
                                    placeholder="Fornecedor">
                                    <md-item-template>
                                        <span md-highlight-text="vm.searchText"
                                         md-highlight-flags="^i">{{item.display}}</span>
                                    </md-item-template>
                                    <md-not-found>
                                        Nenhum "{{vm.searchText}}" encontrado.
                                        <a ng-click="vm.newState(vm.searchText)">Cadastrar novo Fornecedor!</a>
                                    </md-not-found>
                                </md-autocomplete>
                                <br>
                                
                            </form>
                        </md-content>-->

                        <md-input-container class="md-block">
                            <label>Nome</label>
                            <input name="name" ng-model="vm.product.name" required>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Descricao</label>
                            <input name="describe" ng-model="vm.product.describe">
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label>Categoria</label>
                            <md-select name="category" ng-model="vm.product.id_product_category" required>
                                <md-option ng-repeat="category in vm.categories" value="{{category.id}}">
                                    {{category.description}}
                                </md-option>
                            </md-select>
                        </md-input-container>

                        <div layout="row" layout-align="end center">
                            <md-button class="md-primary" ng-click="vm.toggleForm()" ng-disabled="
                                productForm.name.$error.required ||
                                productForm.category.$error.required">Proximo</md-button>
                        </div>
                    </div>

                    <div ng-show="vm.content.cost">

                        <div layout-gt-sm="row">
                            <md-input-container class="md-block">
                                <label>Tamanho (CM)</label>
                                <input name="size" ng-model="vm.product.size" class="border-input-all" type="text" ui-number-mask required>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Peso (KG)</label>
                                <input name="weight" ng-model="vm.product.weight" class="border-input-all" type="text" ui-number-mask required>
                            </md-input-container>

                            <md-input-container class="md-block">
                                <label>Preço (R$)</label>
                                <input name="cost" ng-model="vm.product.cost" class="border-input-all" type="text" ui-number-mask>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Preço de venda (R$)</label>
                                <input name="sale_cost" class="border-input-all" type="text" ng-model="vm.product.sale_cost" ui-number-mask>
                            </md-input-container>

                            <md-input-container class="md-block">
                                <label>Quantidade</label>
                                <input name="quantity" ng-model="vm.product.quantity" type="number" class="border-input-all">
                            </md-input-container>
                            <div layout="row" layout-align="end center">
                                <md-button class="md-primary" ng-click="vm.goBack()">Voltar</md-button>
                                <md-button class="md-primary" ng-click="vm.create()" ng-disabled="
                                productForm.size.$error.required ||
                                productForm.weight.$error.required ||
                                productForm.cost.$error.required ||
                                productForm.sale_cost.$error.required ||
                                productForm.cost.$error.required ||
                                productForm.quantity.$error.required
                                
                                ">Cadastrar</md-button>
                            </div>
                        </div>
                    </div>
                </form>
            </md-content>
        </div>
    </ion-content>
</ion-view>