<ion-view>
    <ion-content>
        <div layout="column" ng-cloak class="md-inline-form">
            <md-content layout-padding>
                <form name="productForm">

                    <div ng-show="vm.content.personalData">
                        <md-content class="md-padding">
                            <md-autocomplete md-search-text-change="vm.searchTextChangeSupplier(vm.searchTextSupplier)" md-search-text="vm.searchTextSupplier"
                                md-selected-item-change="vm.selectedItemChangeSupplier(item)" md-items="item in vm.querySearchSupplier(vm.searchTextSupplier)"
                                md-item-text="item.display" md-min-length="0" placeholder="Digite o Nome do Fornecedor">
                                <md-item-template>
                                    <span md-highlight-text="vm.searchTextSupplier" md-highlight-flags="^i">{{item.display}}</span>
                                </md-item-template>
                                <md-not-found>
                                     "{{vm.searchTextSupplier}}" não encontrado.
                                    <a ng-click="vm.newSupplier(vm.searchTextSupplier)">Cadastrar fornecedor agora</a>
                                </md-not-found>
                            </md-autocomplete>
                        </md-content>

                        <md-input-container class="md-block">
                            <label>Nome</label>
                            <input name="name" ng-model="vm.product.name" required>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Descricao</label>
                            <input name="describe" ng-model="vm.product.describe">
                        </md-input-container>

                        <md-content class="md-padding">
                            <md-autocomplete 
                                md-search-text-change="vm.searchTextChangeCategory(vm.searchTextCategory)" 
                                md-search-text="vm.searchTextCategory"
                                md-selected-item-change="vm.selectedItemChangeCategory(item)" md-items="item in vm.querySearchCategory(vm.searchTextCategory)"
                                md-item-text="item.display"
                                 md-no-cache="true" 
                                md-min-length="0" placeholder="Digite o Nome da categoria">
                                <md-item-template>
                                    <span md-highlight-text="vm.searchTextCategory" md-highlight-flags="^i">{{item.display}}</span>
                                </md-item-template>
                                <md-not-found>
                                    "{{vm.searchTextCategory}}" não encontrado.
                                    <a ng-click="vm.newCategory(vm.searchTextCategory)">Cadastrar categoria agora</a>
                                </md-not-found>
                            </md-autocomplete>
                        </md-content>
                        <div layout="row" layout-align="end center">
                            <md-button class="md-primary" ng-click="vm.toggleForm()" ng-disabled="
                                productForm.name.$error.required ||
                                productForm.category.$error.required">Proximo</md-button>
                        </div>
                    </div>

                    <div ng-show="vm.content.cost">

                        <div layout-gt-sm="row">
                            <md-input-container class="md-block">
                                <label>Tamanho (CM)</label>
                                <input name="size" ng-model="vm.product.size" class="border-input-all" type="text" ui-number-mask>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Peso (KG)</label>
                                <input name="weight" ng-model="vm.product.weight" class="border-input-all" type="text" ui-number-mask>
                            </md-input-container>

                            <md-input-container class="md-block">
                                <label>Preço de Custo(R$)</label>
                                <input name="cost" ng-model="vm.product.cost" class="border-input-all" type="text" ui-number-mask>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Preço de venda (R$)</label>
                                <input name="sale_cost" class="border-input-all" type="text" ng-model="vm.product.sale_cost" ui-number-mask required>
                            </md-input-container>

                            <md-input-container class="md-block">
                                <label>Quantidade</label>
                                <input name="quantity" ng-model="vm.product.quantity" type="number" class="border-input-all" required>
                            </md-input-container>
                            <div layout="row" layout-align="end center">
                                <md-button class="md-primary" ng-click="vm.goBack()">Voltar</md-button>
                                <md-button class="md-primary" ng-click="vm.create()" ng-disabled="
                                productForm.size.$error.required ||
                                productForm.weight.$error.required ||
                                productForm.cost.$error.required ||
                                productForm.sale_cost.$error.required ||
                                productForm.cost.$error.required ||
                                productForm.quantity.$error.required
                                
                                ">Cadastrar</md-button>
                            </div>
                        </div>
                    </div>
                </form>
            </md-content>
        </div>
    </ion-content>
</ion-view>