<ion-view name="products-count-view">
    <ion-content>
        <md-content>
            <md-content>
                <div class="row">
                    <md-datepicker  ng-model="vm.initialDate" md-placeholder="Inicio" class="col"></md-datepicker>
                    
                    <md-datepicker  ng-model="vm.finalDate" md-placeholder="Fim" class="col"></md-datepicker>
                    <md-button  class="md-primary col col-10" ng-click="vm.search()"><i class="fa fa-search" aria-hidden="true"></i></md-button>
                </div>
                <ion-list>
                    <md-card ng-repeat="item in item.employees| orderBy:order:ascending" href="#/app/employees/{{item.id}}">
                        <md-toolbar class="item-list card-primary">
                            <div class="md-toolbar-tools">
                                <h3 class="md-headline">  {{item.nome | uppercase}}</h3>
                            </div>
                        </md-toolbar>

                        <md-card-content layout-align>
                            <div layout="row">
                                <div flex>
                                    <h3 class="md-headline">Quantidade</h3>
                                    <h3 class="md-headline">{{item.count}} Unidades</h3>
                                </div>
                                <!--</div><div layout="row">-->
                                <div flex>
                                    <h3 class="md-headline">Mês/Ano:</h3>
                                    <h3 class="md-headline">02/02</h3>
                                </div>
                            </div>
                        </md-card-content>
                    </md-card>
                </ion-list>
            </md-content>
        </md-content>
    </ion-content>