<ion-view name="products-view">
    <ion-content>

        <md-content>

            <filter-grid filters="vm.filters"></filter-grid>
            <md-content>
                <div class="row">
                    <md-datepicker  ng-model="vm.initialDate" md-placeholder="Inicio" class="col"></md-datepicker>
                    
                    <md-datepicker  ng-model="vm.finalDate" md-placeholder="Fim" class="col"></md-datepicker>
                    <md-button  class="md-primary col col-10" ng-click="vm.search()"><i class="fa fa-search" aria-hidden="true"></i></md-button>
                </div>
                <ion-list ng-if="vm.items.length > 0">

                    <md-card ng-repeat="item in vm.items| orderBy:order:ascending">
                        <md-toolbar class="item-list card-primary">
                            <div class="md-toolbar-tools">
                                <div class="row">
                                    <h3 class="md-headline col col-90">  {{item.nome | uppercase}}</h3>
                                    <i class="fa fa-chevron-right col"></i>
                                </div>

                            </div>
                        </md-toolbar>

                        <md-card-content layout-align="space-between" ui-href="app.products">

                            <div layout="row">
                                <h3 flex class="md-headline">Fornecedor:</h3>
                                <h3 flex class="md-headline">Quantidade:</h3>
                                <!--<div layout="column">
                                    <i flex="40" layout-align="end center" class="fa fa-2x fa-chevron-right text-right"></i>
                                </div>-->
                            </div>
                            <div layout="row">
                                <h6 flex class="md-headline">{{item.supplier}}</h6>
                                <h6 flex class="md-headline">{{item.quantity}}</h6>
                            </div>
                            <div layout="row">
                                <h3 flex class="md-headline">Preco Venda:</h6>
                                <h3 flex class="md-headline">Preco Custo:</h6>
                            </div>
                            <div layout="row">
                                <h6 flex class="md-headline">R$ {{item.sale_cost | number: 2}}</h6>
                                <h6 flex class="md-headline">R$ {{item.cost | number: 2}}</h6>
                            </div>
                        </md-card-content>
                    </md-card>
                </ion-list>
            </md-content>
        </md-content>
    </ion-content>


</ion-view>
<!--

<ion-view view-title="PRODUTOS" name="items-view">
    <ion-content>
        <div class="row">

            <div class="row">
                <div class="col-20">
                    <div class="input-label">
                        Ordem:
                    </div>
                </div>
                <div class="col-10">
                    <a href="#" class="ion-arrow-up-c" ng-click="ascending=true"></a>
                </div>
                <div class="col-10">
                    <a href="#" class="ion-arrow-down-c" ng-click="ascending=false"></a>
                </div>
                <div class="col-50 item-select">
                    <div class="input-label">
                        Por:
                    </div>
                    <select class="col-20" ng-model="order">
                        <option ng-repeat="filter in filters"  value="{{filter.value}}" ng-selected="{{filter.selected}}">{{filter.desc}} </option>
                    </select>
                </div>
            </div>
        </div>
        
            <ion-list ng-repeat="item in items | orderBy:order:ascending">
                <ion-item  class="card">
                    <h2>{{item.nome}}</h2>

                    <div class="row">
                        <div class="padding"></div>
                        <div class="col-25">
                            <h3>Fornecedor:</h3>
                                <p> {{item.fornecedor}}</p>
                            </div>
                            <div class="col-25">
                                <h3>Tamanho:</h3>
                                <p> {{item.tamanho}} CM</p>
                            </div>
                            <div class="col-25">
                                <h3>Peso:</h3>
                                <p> {{item.peso}} KG</p>
                            </div>
                            <div class="col-25">
                                <h3>Categoria:</h3>
                                <p> Produtos {{item.categoria}}</p>
                            </div>
                            </div>
                            <div class="row">
                                <div class="padding"></div>
                                <div class="col-50">
                                    <h3>Preco de Venda:</h3>
                                    <p> R$ {{item.precoVenda}}</p>
                                </div>
                                <div class="col-50">
                                    <h3>Custo:</h3>
                                    <p>R$ {{item.custo}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="padding"></div>
                                <div class="col-50">
                                    <h3>Descricao:</h3>
                                    <p>
                                        {{item.descricao}}</p>
                                </div>
                                <div class="col-50">
                                    <h3>Quantidade Disponível:</h3>
                                    <p> {{item.quantidadeDisponivel}} unidades</p>
                                </div>
                            </div>

                            </ion-item>
                </ion-list>
    </ion-content>
</ion-view>-->