<ion-view>
    <ion-content>
        <div layout="column" ng-cloak class="md-inline-form">
            <md-content layout-padding>
                <form name="providerForm">
                    
                    <div ng-show="vm.content.personalData">
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block">
                                <label>Nome</label>
                                <input name="name" ng-model="vm.provider.name" required>
                            </md-input-container>
                        </div>
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block">
                                <label>Email</label>
                                <input ng-model="vm.provider.email">
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Telefone</label>
                                <input name="telefone0" ng-model="vm.provider.phones[0].number" ui-br-phone-number required>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Tipo de Telefone</label>

                                <md-select ng-model="vm.provider.phones[0].type" name="type">
                                    <md-option ng-repeat="type in vm.phoneTypes" value="{{type.id}}">
                                        {{type.description}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <div layout="row" layout-align="end center">
                                <md-button class="md-primary" ng-click="vm.toggleForm()" 
                                ng-disabled="providerForm.name.$invalid ||
                                             providerForm.telefone0.$invalid
                                             ">Proximo</md-button>
                            </div>
                        </div>

                    </div>
                    <div ng-show="vm.content.location">

                        <div layout-gt-sm="row">
                            <div layout="row">
                                <md-input-container class="md-block" flex>
                                <label>CEP</label>
                                <input name="postalCode" ng-model="vm.provider.address[0].zip_code" ui-br-cep-mask required>

                            </md-input-container>
                            </div>
                            <div layout="row">
                                <md-input-container class="md-block" flex>
                                    <label>Rua</label>
                                    <input ng-model="vm.provider.address[0].street">
                                </md-input-container>
                                <md-input-container class="md-block" flex="20">
                                    <label>Número</label>
                                    <input type="number" class="border-input-all" ng-model="vm.provider.address[0].number">
                                </md-input-container>
                            </div>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Bairro</label>
                                <input ng-model="vm.provider.address[0].neighborhood">
                            </md-input-container>

                            
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Cidade</label>
                                <input ng-model="vm.provider.address[0].city">
                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Estado</label>
                                <input ng-model="vm.provider.address[0].state" maxlength="2">
                            </md-input-container>
                            <div layout="row" layout-align="end center">
                                <md-button class="md-primary" ng-click="vm.goBack()">Voltar</md-button>
                                <md-button class="md-primary" ng-click="vm.create()">Cadastrar</md-button>
                            </div>
                        </div>
                    </div>
                </form>
            </md-content>
        </div>
    </ion-content>
</ion-view>