
<ion-view view-title="FORNECEDORES" align-title="left">
    <ion-content class="home">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1 class="login-title">Cadastro de Fornecedores</h1>
            </div>
        </div>
        <form name="form" novalidate>
            <div class="list">
                    <textarea name="" id="" cols="30" rows="10">
                        {{user}}
                    </textarea>
                    <ion-md-input ng-model="user.razao_social" name="razao" placeholder="Razão social" highlight-color="balanced" type="text" ng-required="true" >
                    </ion-md-input>
                    <div ng-show="form.$submitted || form.razao_social.$touched" >
                        <div ng-show="form.razao_social.$error.required" class="login-error">
                            Digite a Razão social                   
                        </div>
                    </div>
                    <ion-md-input ng-model="user.nome_fantasia" name="fantasia" placeholder="Nome Fantasia" highlight-color="balanced" type="text" ng-required="true" >
                    </ion-md-input>
                    <div ng-show="form.$submitted || form.nome_fantasia.$touched" >
                        <div ng-show="form.nome_fantasia.$error.required" class="login-error">
                            Digite o Nome Fantasia               
                        </div>
                    </div>

                    

                    <ion-md-input ng-model="user.cnpj" name="cnpj" placeholder="CNPJ" highlight-color="balanced" type="text" ng-required="true">
                    </ion-md-input>
                    <div ng-show="form.$submitted || form.cnpj.$touched" >
                        <div ng-show="form.cnpj.$error.required" class="login-error">
                            Digite o CNPJ                     
                        </div>
                    </div>

                    
                     <ion-md-input ng-model="user.telefone" name="telefone" placeholder="Telefone" highlight-color="balanced" type="text" ng-required="true" ></ion-md-input>
                    <div ng-show="form.$submitted || form.telefone.$touched" >
                        <div ng-show="form.telefone.$error.required" class="login-error">
                           Digite o Telefone
                        </div>
                    </div>

                    <ion-md-input ng-model="user.endereco.rua" name="rua" placeholder="Rua" highlight-color="balanced" type="text" ng-required="true" ></ion-md-input>
                    <div ng-show="form.$submitted || form.rua.$touched" >
                        <div ng-show="form.rua.$error.required" class="login-error">
                           Digite a Rua
                        </div>
                    </div>


                    <ion-md-input ng-model="user.endereco.numero" name="numero" placeholder="Número" highlight-color="balanced" type="text" ng-required="true" ></ion-md-input>
                    <div ng-show="form.$submitted || form.numero.$touched" >
                        <div ng-show="form.numero.$error.required" class="login-error">
                            Digite o Número                   
                        </div>
                    </div>


                    <ion-md-input ng-model="user.endereco.bairro" name="bairro" placeholder="Bairro" highlight-color="balanced" type="text" ng-required="true" ></ion-md-input>
                    <div ng-show="form.$submitted || form.bairro.$touched" >
                        <div ng-show="form.bairro.$error.required" class="login-error">
                            Digite o Bairro                 
                        </div>
                    </div>


                    <ion-md-input ng-model="user.endereco.cep" name="cep" placeholder="CEP" highlight-color="balanced" type="text" ng-required="true" ></ion-md-input>
                    <div ng-show="form.$submitted || form.cep.$touched" >
                        <div ng-show="form.cep.$error.required" class="login-error">
                            Digite o CEP                       
                        </div>
                    </div>


                    <ion-md-input ng-model="user.endereco.cidade" name="cidade" placeholder="Cidade" highlight-color="balanced" type="text" ng-required="true" ></ion-md-input>
                    <div ng-show="form.$submitted || form.cidade.$touched" >
                        <div ng-show="form.cidade.$error.required" class="login-error">
                            Digite a Cidade                     
                        </div>
                    </div>


                    <ion-md-input ng-model="user.endereco.estado" name="estado" placeholder="Estado" highlight-color="balanced" type="text" ng-required="true" ></ion-md-input>
                    <div ng-show="form.$submitted || form.estado.$touched" >
                        <div ng-show="form.estado.$error.required" class="login-error">
                            Digite o Estado                   
                        </div>
                    </div>


                    <ion-md-input ng-model="user.endereco.pais" name="pais" placeholder="País" highlight-color="balanced" type="text" ng-required="true" ></ion-md-input>
                    <div ng-show="form.$submitted || form.pais.$touched" >
                        <div ng-show="form.pais.$error.required" class="login-error">
                            Digite País                        
                        </div>
                    </div>
                    
                    <div class="padding">
                        <!--ui-sref="app.profile"-->
                        <button type="submit"  class="btn-submit-login button button-full button-assertive ink" ng-disabled="form.$invalid" ng-click="create(user)">Cadastrar</button>
                    </div>
                
        </form>
    </ion-content>
</ion-view>
