<ion-view name="form-clientes">
    <ion-content>

        <div layout="column" ng-cloak class="md-inline-form">
            <md-content layout-padding>
                <form name="formUser">
                    <div ng-show="vm.isFormUser">
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block">
                                <label>Nome</label>
                                <input name="name" ng-model="vm.user.name" required>
                            </md-input-container>

                        </div>

                        <div layout-gt-sm="row">

                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Telefone</label>
                                <input name="phone1" ng-model="vm.user.phone[0]" required ui-br-phone-number>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Telefone (opcional)</label>
                                <input name="phone2" ng-model="vm.user.phone[1]" ui-br-phone-number>
                            </md-input-container>
                            <div layout="row" layout-align="end center">
                                <md-button class="md-primary" ng-click="vm.nextLocation()" ng-disabled="(formUser.phone1.$error.required)">Proximo</md-button>
                            </div>
                        </div>
                    </div>

                    <div ng-show="vm.isFormLocation">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Número</label>
                            <input type="number" class="border-input-all" ng-model="vm.user.number" required>
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Bairro</label>
                            <input ng-model="vm.user.district" required>
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm>
                            <label>CEP</label>
                            <input name="postalCode" ng-model="vm.user.postalCode" required ui-br-cep-mask required>

                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Cidade</label>
                            <input ng-model="vm.user.city" required>
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Estado</label>
                            <input ng-model="vm.user.state" maxlength="2" required>
                        </md-input-container>
                        <div layout="row" layout-align="end center">
                            <md-button class="md-primary" ng-click="vm.goBack('contact')">Voltar</md-button>
                            <md-button class="md-primary" ng-click="vm.create()">Cadastrar</md-button>
                        </div>
                    </div>

                </form>
            </md-content>
        </div>
    </ion-content>
</ion-view>