<ion-view>
    <ion-content>
        <ion-scroll>
            <md-card>

                <md-toolbar class="item-list card-primary">
                    <div class="md-toolbar-tools">
                        <h3 class="md-headline"> Produtos Vendidos </h3>
                    </div>
                </md-toolbar>
                <md-card-content layout-align="space-between">
                    <md-card-content layout-align="space-between">
                        <div layout="row">
                            <p flex class="col md-headline negrito">Data de Referencia:</p>
                            <p flex class="col md-headline">{{vm.dateRef}}</p>
                        </div>
                        <div layout="row">
                            <p flex class="col md-headline negrito">Nome:</p>
                            <p flex class="col md-headline">{{vm.item.supplier}}</p>
                        </div>
                        <div layout="row">
                            <p flex class="col md-headline negrito">Valor total:</p>
                            <p flex class="col md-headline">R$ {{vm.item.total}}</p>
                        </div>
                        
                        <md-divider></md-divider>
                    </md-card-content>
                    <md-card-content layout-align="space-between" ng-repeat="product in vm.item.products">
                        <div layout="row">
                            <p flex class="col md-headline negrito">Produto:</p>
                            <p flex class="col md-headline">{{product.name}}</p>
                        </div>
                        <div layout="row">
                            <p flex class="col md-headline negrito">Peso:</p>
                            <p flex class="col md-headline">{{product.weight}} KG</p>
                        </div>
                        <div layout="row">
                            <p flex class="col md-headline negrito">Altura:</p>
                            <p flex class="col md-headline">{{product.height}} CM </p>
                        </div>
                        <div layout="row">
                            <p flex class="col md-headline negrito">Quantidade:</p>
                            <p flex class="col md-headline">{{product.quantity}} unidades</p>
                        </div>
                        <div layout="row" layout-align="space-around end">
                            <md-button class="md-primary" ng-click="vm.backToEmployees()">Voltar</md-button>
                        </div>
                    </md-card-content>
                </md-card-content>
            </md-card>
        </ion-scroll>
    </ion-content>
</ion-view>
<!--<ion-view view-title="PRODUTOS VENDIDOS" name="items-view">
    <ion-content>
        <ion-item class="card">
            <h2>{{item.nome}}</h2>

            <div class="row">
                <div class="col-50">
                    <h3>Fornecedor:</h3>
                    <p> {{item.fornecedor}}</p>
                </div>
                <div class="col-33">
                    <h3>Valor a Receber:</h3>
                    <p> R$ {{item.valorReceber}}</p>
                </div>

            </div>

        </ion-item>
        <div class="padding"></div>
        <ion-item class="card" ng-repeat="product in item.products">
            <h2>{{product.nome}}</h2>

            <div class="row">
                
                    <div class="padding"></div>
                    <div class="col-40">
                        <h3>Preco de Venda:</h3>
                        <p> R$ {{product.precoVenda}}</p>
                    </div>

                    <div class="padding"></div>
                    <div class="col-25">
                        <h3>Descrição:</h3>
                        <p>
                            {{product.descricao}}</p>
                    </div>

                    <div class="padding"></div>
                    <div class="col-25">
                        <h3>Valor Comissão:</h3>
                        <p>R$ 50.00</p>
                    </div>

            </div>

        </ion-item>
    </ion-content>
</ion-view>-->