/* Empty. Add your own CSS if you like */
.login-title {
	margin-bottom: 32%;
	color: #fff;
	text-transform: uppercase;
}
.login-error {
	    text-align: left;
    	margin-left: 15px;
    	color:  #FFF;
}
.btn-submit-login {
	    color: #fff!important;
    	background-color: #F44336!important;
}

.menu-title {
	color:  #FFF;
}

.list:last-child {
    margin-top: 31px;
}
.color-white {
	color: #fff;
}

.card-home-grey, .card-home-blue, .card-home-pink {
    border-top-style: solid;
    border-top-width: 5px!important;
}
.card-home-, .card-home-blue, .card-home-pink {
    border-top-style: solid;
    border-top-width: 5px!important;
}

.card-home-grey {
    border-top-color: #727272;
}

.card-home-pink {
    border-top-color: #FF4081;
}

.card-home-blue {
    border-top-color: #1976D2;
}

.card-home-title-grey {
    color: #727272!important;
}

.card-home-title-pink {
    color: #FF4081!important;
}

.card-home-title-blue {
    color: #1976D2!important;
}
.card-home-title-green {
    color: #7BDC99!important;
}


.card-home-p {
    margin-top: 15px;
}
.row-home-header, .col-home-header {
    padding-top: 0px!important;
}

.item {
	border-style: none!important;
    color: #212121!important;
}
.item h2, .item h2 {
	color: #2196F3;
	font-weight: bold;
	font-size: 16px;
}