/* Empty. Add your own CSS if you like */
* {
    font-size: 20px;
}
.login-title {
	margin-bottom: 32%;
	color: #fff;
	text-transform: uppercase;
}
.login-error {
	    text-align: left;
    	margin-left: 15px;
    	color:  #FFF;
}
.btn-submit-login {
	    color: #fff!important;
    	background-color: #F44336!important;
}

.menu-title {
	color:  #FFF;
}

.list:last-child {
    margin-top: 31px;
}
.color-white {
	color: #fff;
}

.card-home-grey, .card-home-red, .card-home-green, .card-home-yellow {
    border-left-style: solid;
    border-left-width: 30px!important;
    font-size: 20px;
}


.card-home-grey {
    border-left-color: #727272;
}

.card-home-yellow {
    border-left-color: #FDD835;
}

.card-home-red {
    border-left-color: #DD2C00;
}
.card-home-green {
    border-left-color: #64DD17!important;
}

.card-home-title-grey {
    color: #727272!important;
}

.card-home-title-yellow {
    color: #FDD835!important;
}

.card-home-title-red {
    color: #DD2C00!important;
}
.card-home-title-green {
    color: #64DD17!important;
}


.card-home-p {
    margin-top: 15px;
}
.row-home-header, .col-home-header {
    padding-top: 0px!important;
}

.item {
	border-style: none!important;
    color: #212121!important;
    font-size: 18px;
}
.item h2, .item h2 {
	color: #2196F3;
	font-weight: bold;
	font-size: 24px;
}